{{#if profile}}
{{else}}
<!-- header.hbs -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/profile">
                <img src="/images/user-images/{{userProfile._id}}.jpg" alt="Logo" width="40" height="40"> <!-- Replace with your logo -->
                Profile
            </a>
        </div>
    </nav>
</header>

{{/if}}