<!-- index.hbs -->
<div class="index">

{{!-- <a href="/form" class="btn btn-info btn-lg">
    <h3>Form</h3>
</a> --}}

{{#if loginErr}}
<div id="hideMe" class="alert alert-danger mt-3">
    <p>{{loginErr}}</p>
</div>
{{/if}}

<div class="subBox">
<p>Al-Shathibi Qur'an Competition</p>
{{#if subject}}
<h2>Your Subject is: {{subject.Program}}</h2>
{{/if}}
{{#if turn}}
<h2>Your Turn is: {{turn.Turn}}</h2>
{{/if}}
</div>

{{#if formDid}}
<a href="/candidates" class="btn logout btn-lg">Candidates</a>
{{else}}
<a href="/toss" class="btn logout btn-lg">Toss your turn</a>
{{/if}}

</div>

<script>
    function hideParagraph() {
        var paragraph = document.getElementById("hideMe");
        paragraph.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(hideParagraph, 5000);
    });
</script>